<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient Background</title>
    <style>
        .bg-gradient {
            width: 100%;
            height: 100vh;

            background: linear-gradient(to bottom, transparent 22.49%, white 73.49%),
                linear-gradient(264.03deg, #dce5fb -10.27%, #eaecef 35.65%, #d5ecfd 110.66%);
        }
    </style>
</head>

<body>
    <div class="bg-gradient">ok</div>
</body>

</html>